# 🔹 Framework principal
fastapi
uvicorn[standard]

# 🔹 Utilidades generales
requests
pydantic
python-dotenv
loguru
pytest
beautifulsoup4
typing-extensions

# 🔹 Librerías para procesar archivos
PyPDF2
python-docx

# 🔹 Necesaria para manejar formularios y archivos en FastAPI
python-multipart